@charset "UTF-8";


@media screen and (max-width: 800px){
    body {
        background-color: black;
        background-image: url('../exercito.webp');
    }

    #res {
        width: 450px;
        height: 450px;
        padding: 5px;
    }

    h1{
        text-shadow: 2px 2px 0px black;
    }
    
}