* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: darkblue;
}



.container-slide {
    display: flex;
    justify-content: space-between;
    height: 50vh;
    width: 50vw;
    background-color: black;
    margin: 20vh auto;
    border-radius: 10px;
    box-shadow: 0 20px 30px black;
}

.container-items {
    position: absolute;
    display: flex;
    width: 50vw;
    height: 50vh;
    background-color: brown;
    border-radius: 10px;
    overflow: hidden;


}

.item {
    width: 50vw;
    height: 50vh;
    transition: all 2s;
}

.item:first-child {
    margin-left: -100%;

}

.item img {
    width: 50vw;
    height: 50vh;
    border-radius: 10px;
}

.action-button {
    font: bold 70px sans-serif;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #00000000;
    user-select: none;
    transition: all 2s;



}

.action-button:hover {
    background-color: #00000055;
    color: white;
    cursor: pointer;
    border-radius: 10px 10px 0;
    transition: all 1s;

}